/* Global styling */
html {
    scroll-behavior: smooth;
}

h1 {
  padding-top: 40px;
  color: #FFF;
  font-weight: bold;
}

h4 {
  color: #666666;
  font-size: 18px;
  font-weight: lighter;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
}

.lead {
  font-weight: lighter;
}

/* Basic white section */
.basic-white {
    height: 200px;
    background-color: #fff;
}

/* Nav */
.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #666666;
  text-shadow: .1px .1px #999;
}

.navbar-light .navbar-brand {
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline 2px solid #fad500;
  color: #666;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #666;
}

.navbar a {
  font-weight: 300;
  color: #666;
  text-shadow: #666 .5px 0 2px;
}
/* End of nav */

/* This is all that badass hero image section*/
.bgimage {
  width:100%;
  height:400px;
  padding: 25px 25px;
  background: url('../images/home-personalities-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bgimage h1 {
  color: white;
  text-shadow: 3px 3px #333;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
}

.bgimage h2 {
  color: white;
  text-shadow: 3px 3px #333;
  text-align: center;
  font-weight: bold;
}

.bgimage p {
  color:rgba(86, 172, 138, 1);
  text-shadow: .5px .5px #666;
  font-size: 18px;
  text-align: center; 
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  max-width: 20rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.btn-outline-success {
  border-radius: 25px;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #fff;
  color:rgba(86, 172, 138, 1);
  padding: 10px;
  display: inline;
}

.bgimage blockquote {
  color: white;
  text-shadow: 1px 1px #333;
  font-size: 40px;
  text-align: center; 
  top-margin: 50%;
}
/* End of hero */

/* Jumbotron */
.jumbotron {
  background-color: #3c9294;
  color: #FFFFFF;
  /* rgba(86, 172, 138, .5) */
}

/* Search bar */
.form-control {
  border-radius: .50rem;
  border-color: #fad500;

  height: 50px;
  min-width: 380px;

  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  vertical-align: middle;

  display: block;
  
  margin-left: auto;
  margin-right: auto;
  margin-left: 30%;
}


/* footer */
footer {
  padding-top: 50px;
}



/* Styling for bios */
.bios h1 p {
  vertical-align: middle;
}

.bios p {
  vertical-align: middle;
}

.bios .card-img {
  height:200px;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  vertical-align: middle;
  margin: 20px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; 
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  animation: fadein 3s;
}

.bios .card-img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
}


@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


/* Methodology page */
.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  color: #58595a;
}

.gallery-container p.page-description {
  text-align: center;
  margin: 30px auto;
  font-size: 18px;
  color: #85878c;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .thumbnail {
  padding: 0;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  transition: 0.15s ease-in-out;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .thumbnail:hover {
  transform: translateY(-10px) scale(1.02);
}

.tz-gallery .lightbox img {
  border-radius: 4px 4px 0 0;
}

.tz-gallery .caption{
  padding: 26px 30px;
  text-align: center;
}

.tz-gallery .caption h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}

.tz-gallery .caption p {
  font-size: 12px;
  color: #7b7d7d;
  margin: 0;
}

.baguetteBox-button {
  background-color: transparent !important;
}


/* Accordion */
.md-accordion a {
  color: #A386B4;
}

/* alert */
.alert {
  color: #333333;
  border-color: #28a745;
  background-color: rgba(86, 172, 138, .20);
  text-align: center;
}

.alert hr{
  background-color: #28a745;
  border-color: #28a745;
}

.tz-gallery .lightbox img { 
  display: flex;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width:320px; 
  height:300px; 
}